.link {
    /* margin-right: 7vw; */
    margin-top: 5vh;
    /* width: 24vw; */
    /* height: 55vh; */
    text-align: center;
    font-size: 38px;
    padding-top: 20px;
    /* font-weight: bold; */
    /* background: rgba(255, 255, 255, .5); */
    border: 2px #3d4449 solid;
    /* color: #3d4449; */
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
/* 
.title {
    text-align: right;
    margin-right: 7vw;
    direction: rtl;
    margin-top: 100px;
} */

#privateArea {
    border-color: #3d4449;
    color: #3d4449;
    /* border-radius: 30px; */
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
}

/* #carouselExampleSlidesOnly {
    width: 50vw;
    height: 30vh;
} */
