.btn-login {
    /* text-align: center; */
    /* text-decoration: none; */
    display: inline-block;
    font-size: 32px;
    color: #ff7100 ;
    border: 1px solid #ff7100 ;
    width: 18%;
    /* height: 15%; */
    /* padding: 30px; */
    /* line-height: 10px; */
    /* margin-right: 20px; */
    /* background-color: transparent; */
    /* margin: 20px; */
}
/* 
.row-wrapper {
    margin-top: 20vh;
    max-width: 80vw;
    text-align: center;
    margin-left: 10vw;
} */
