body {
    overflow: hidden;
}

#backgroung {
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0.3;
    z-index: 1;
}

#loading {
    text-align: center;
    margin-top: 2vh;
}


#newUser {
    position: relative;
    top: 10vh;
    font-weight: bold;
    left: 4vw;
    color: #ff7100 ;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box h1 {
    float: left;
    font-size: 32px;
    border-bottom: 6px solid;
    margin-bottom: 26px;
    padding: 13px 0;
}



.btn-login-user {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    color: #ff7100 ;
    border: 1px solid #ff7100 ;
    padding: 30px;
    line-height: 10px;
    margin-right: 20px;
    background-color: transparent;
    margin: 20px;
}

.row-wrapper {
    margin-top: 20vh;
    max-width: 80vw;
    text-align: center;
    margin-left: 10vw;
}

.error-label {
    float: right;
    color: red;
}